# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & test caches
.pytest_cache/
.coverage
htmlcov/

# Node dependencies & build outputs
node_modules/
frontend/node_modules/
frontend/dist/

# Environments
.env
backend/.env
.venv
env/
venv/
ENV/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Databases
*.sqlite


.vercel
